<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
  <test thread-count="5" name="Standalone Submit Order Test">
    <classes>
      <class name="Rahulshettyacedemy.Tests.StandAloneTestFORpageobject"/>
    </classes>
  </test> <!-- Test -->
  
 
       
        <test thread-count="5" name="Error Validation">
			    <classes>
          <class name="Rahulshettyacedemy.Tests.ErrorValidation"/>
      </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
